/* 顶部通栏的样式 */
.header .row > div {
  height: 40px;
  border: 1px solid gray;
  text-align: center;
  line-height: 40px;
}
.header .row > div > a {
  color: gray;
  text-decoration: none;
  font-size: 13px;
}
.header .row > div:nth-child(n+3) a {
  margin-left: 10px;
}
.header .row > div:first-child {
  position: relative;
}
.header .row > div:first-child img {
  display: none;
  position: absolute;
  left: 40px;
  top: 40px;
}
.header .row > div:first-child:hover img {
  display: block;
}
/*  将bootstrap中 样式进行拷贝 以及替换 */
.wjs_default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  margin-bottom: 0px;
}
.wjs_default .navbar-brand {
  color: #777;
  height: 80px;
  line-height: 50px;
}
.wjs_default .navbar-brand span {
  font-size: 50px;
}
.wjs_default .navbar-brand span:first-child {
  color: red;
}
.wjs_default .navbar-brand span:last-child {
  color: black;
}
.wjs_default .navbar-brand:hover,
.wjs_default .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.wjs_default .navbar-text {
  color: #777;
}
.wjs_default .navbar-nav > li > a {
  color: #777;
  height: 80px;
  line-height: 50px;
}
.wjs_default .navbar-nav > li > a:hover,
.wjs_default .navbar-nav > li > a:focus {
  color: #333;
  background-color: transparent;
  border-bottom: 3px solid red;
}
.wjs_default .navbar-nav > .active > a,
.wjs_default .navbar-nav > .active > a:hover,
.wjs_default .navbar-nav > .active > a:focus {
  color: #555;
}
.wjs_default .navbar-nav > .disabled > a,
.wjs_default .navbar-nav > .disabled > a:hover,
.wjs_default .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.wjs_default .navbar-toggle {
  border-color: #ddd;
}
.wjs_default .navbar-toggle:hover,
.wjs_default .navbar-toggle:focus {
  background-color: #ddd;
}
.wjs_default .navbar-toggle .icon-bar {
  background-color: #888;
}
.wjs_default .navbar-collapse,
.wjs_default .navbar-form {
  border-color: #e7e7e7;
}
.wjs_default .navbar-nav > .open > a,
.wjs_default .navbar-nav > .open > a:hover,
.wjs_default .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
@media (max-width: 767px) {
  .wjs_default .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .wjs_default .navbar-nav .open .dropdown-menu > li > a:hover,
  .wjs_default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent;
  }
  .wjs_default .navbar-nav .open .dropdown-menu > .active > a,
  .wjs_default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .wjs_default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  .wjs_default .navbar-nav .open .dropdown-menu > .disabled > a,
  .wjs_default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .wjs_default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}
.wjs_default .navbar-link {
  color: #777;
}
.wjs_default .navbar-link:hover {
  color: #333;
}
.wjs_default .btn-link {
  color: #777;
}
.wjs_default .btn-link:hover,
.wjs_default .btn-link:focus {
  color: #333;
}
.wjs_default .btn-link[disabled]:hover,
fieldset[disabled] .wjs_default .btn-link:hover,
.wjs_default .btn-link[disabled]:focus,
fieldset[disabled] .wjs_default .btn-link:focus {
  color: #ccc;
}
/* 轮播图的样式 */
.banner {
  /* 专门为移动端 准备的 轮播图组件 */
}
.banner .banner_a {
  height: 410px;
  /* 为了让中间的内容个保留 多余的部分 被自动切割 */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
}
.banner .banner_a.image_a {
  background-image: url('../images/slide_01_2000x410.jpg');
}
.banner .banner_a.image_b {
  background-image: url('../images/slide_02_2000x410.jpg');
}
.banner .banner_a.image_c {
  background-image: url('../images/slide_03_2000x410.jpg');
}
.banner .banner_a.image_d {
  background-image: url('../images/slide_04_2000x410.jpg');
}
.banner .mobile_a {
  display: block;
  width: 100%;
}
.banner .mobile_a img {
  display: block;
  width: 100%;
}
/* 微金所 信息 区域 布局 */
.info {
  padding-top: 50px;
  /* 栅格系统的 col div的样式  */
  /* 媒体对象 */
}
.info .container {
  /*  如果 给的是 width 固定不变了 屏幕缩小 也不会被压缩   */
  max-width: 910px;
}
.info .row > div {
  margin-bottom: 20px;
  padding-left: 30px;
}
.info .wjs_media a {
  color: gray;
  /* 字体图标 */
}
.info .wjs_media a:hover {
  color: red;
}
.info .wjs_media a .wjs_font {
  font-size: 40px;
}
/*  预约区域的 布局 */
.book {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
.book .container-fluid {
  padding: 20px 100px;
}
.book .container-fluid .pull-left a {
  color: red;
  border-bottom: 1px dashed red;
}
.book .container-fluid .pull-left a:hover {
  text-decoration: none;
}
.book .container-fluid .pull-right a {
  color: gray;
}
.book .container-fluid .pull-right a:hover {
  color: red;
}
/* 标签页的导航栏 */
.wjs-tabs {
  border-bottom: 1px solid #ddd;
}
.wjs-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.wjs-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border-radius: 4px 4px 0 0;
}
.wjs-tabs > li > a:hover {
  background-color: transparent;
}
.wjs-tabs > li.active > a,
.wjs-tabs > li.active > a:hover,
.wjs-tabs > li.active > a:focus {
  color: #555;
  cursor: default;
  background-color: #fff;
  border-bottom-color: transparent;
  border-bottom: 3px solid red;
}
.wjs-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.wjs-tabs.nav-justified > li {
  float: none;
}
.wjs-tabs.nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
}
.wjs-tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .wjs-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .wjs-tabs.nav-justified > li > a {
    margin-bottom: 0;
  }
}
.wjs-tabs.nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.wjs-tabs.nav-justified > .active > a,
.wjs-tabs.nav-justified > .active > a:hover,
.wjs-tabs.nav-justified > .active > a:focus {
  border: 1px solid #ddd;
}
@media (min-width: 768px) {
  .wjs-tabs.nav-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }
  .wjs-tabs.nav-justified > .active > a,
  .wjs-tabs.nav-justified > .active > a:hover,
  .wjs-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #fff;
  }
}
/* tabs 里面的 页签*/
.product-box > a {
  display: block;
  width: 100%;
  border: 1px solid #0094ff;
  height: 150px;
  padding: 0 20px;
}
.product-box > a .box_right {
  width: 108px;
  height: 100%;
  background-color: red;
  float: right;
}
.product-box > a .box_left {
  overflow: hidden;
  height: 100%;
  background-color: orange;
}
/* 特别推荐 布局 */
.wjs-tabs {
  border-bottom: 1px solid #ddd;
}
.wjs-tabs > li {
  float: left;
  margin-bottom: -1px;
  border: none;
}
.wjs-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border-radius: 4px 4px 0 0;
  color: gray;
}
.wjs-tabs > li.active > a,
.wjs-tabs > li.active > a:hover,
.wjs-tabs > li.active > a:focus {
  color: #555;
  cursor: default;
  background-color: skyblue;
  border-bottom-color: transparent;
  border-bottom: 3px solid red;
}
.wjs-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.wjs-tabs.nav-justified > li {
  float: none;
}
.wjs-tabs.nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
}
.wjs-tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .wjs-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .wjs-tabs.nav-justified > li > a {
    margin-bottom: 0;
  }
}
.wjs-tabs.nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.wjs-tabs.nav-justified > .active > a,
.wjs-tabs.nav-justified > .active > a:hover,
.wjs-tabs.nav-justified > .active > a:focus {
  border: 1px solid #ddd;
}
@media (min-width: 768px) {
  .wjs-tabs.nav-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }
  .wjs-tabs.nav-justified > .active > a,
  .wjs-tabs.nav-justified > .active > a:hover,
  .wjs-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #fff;
  }
}
/*  特别推荐 中的 优惠券布局 */
.price_ticket {
  display: block;
  background-color: red;
  /* 多个优惠卷上下 个挤开有点 */
  margin: 10px 0;
  /* 所有a标签 都有阴影 */
  box-shadow: 2px 2px 3px  gray;
  /* 手指悬停 外观清除 */
  /* 伪元素的 字体颜色 以及大小进行设置 */
  /* 左边的盒子 */
  /* 交集选择器 目的是为了 设置 额外的 颜色  */
}
.price_ticket:hover {
  text-decoration: none;
}
.price_ticket::before {
  color: white;
  font-size: 40px;
  position: absolute;
}
.price_ticket .ticket_right {
  min-height: 150px;
  float: right;
  width: 108px;
  padding-top: 20px;
  /* 左边的虚线分隔 */
  border-left: 1px dashed white;
  /* 布局属性 */
  position: relative;
  /* 使用伪元素的方式 添加 上下 两个小圆圈 */
}
.price_ticket .ticket_right p {
  color: white;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  height: 14px;
  overflow: hidden;
}
.price_ticket .ticket_right::before {
  content: '';
  background-color: white;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: -10px;
  left: -10px;
  box-shadow: inset 0 -1px #808080;
}
.price_ticket .ticket_right::after {
  content: '';
  background-color: white;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  bottom: -10px;
  left: -10px;
  box-shadow: inset 0 1px gray;
}
.price_ticket .ticket_left {
  min-height: 150px;
  overflow: hidden;
}
.price_ticket .ticket_left h3 {
  text-align: center;
  color: white;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 20px;
  height: 20px;
  overflow: hidden;
}
.price_ticket .ticket_left > div {
  margin-bottom: 10px;
}
.price_ticket .ticket_left > div:nth-of-type(2n) {
  text-align: right;
}
.price_ticket .ticket_left p {
  color: white;
  font-size: 13px;
  font-weight: 900;
  height: 13px;
  overflow: hidden;
}
.price_ticket.white {
  background-color: white;
  color: gray;
}
.price_ticket.white p {
  color: gray;
}
.price_ticket.white .ticket_right {
  border-left: 1px dashed gray;
}
.price_ticket.white h3 {
  color: gray;
}
/* 新闻页布局效果 */
.news h3 {
  text-align: center;
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
  position: relative;
}
.news h3::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  border: 1px solid gray;
  background-color: white;
  bottom: -4px;
  right: 0px;
  border-radius: 50%;
}
/* 修改bootstrap原生的class */
.wjs-newsTabs > li {
  float: left;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
}
/*  当屏幕尺寸 变小的时候  修改 li的宽度 */
@media screen and (max-width: 1200px) {
  .wjs-newsTabs > li {
    width: 25%;
  }
}
.wjs-newsTabs > li > a {
  margin-right: 2px;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #ccc;
  color: white;
  /*  设置字体图标的尺寸 */
  font-size: 40px;
  text-align: center;
  line-height: 70px;
  padding: 0px;
}
.wjs-newsTabs > li > a:hover {
  background-color: red;
}
.wjs-newsTabs > li.active > a,
.wjs-newsTabs > li.active > a:hover,
.wjs-newsTabs > li.active > a:focus {
  cursor: default;
  background-color: #fff;
  border-bottom-color: transparent;
  background-color: red;
}
.wjs-newsTabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.wjs-newsTabs.nav-justified > li {
  float: none;
}
.wjs-newsTabs.nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
}
.wjs-newsTabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .wjs-newsTabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .wjs-newsTabs.nav-justified > li > a {
    margin-bottom: 0;
  }
}
.wjs-newsTabs.nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.wjs-newsTabs.nav-justified > .active > a,
.wjs-newsTabs.nav-justified > .active > a:hover,
.wjs-newsTabs.nav-justified > .active > a:focus {
  border: 1px solid #ddd;
}
@media (min-width: 768px) {
  .wjs-newsTabs.nav-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }
  .wjs-newsTabs.nav-justified > .active > a,
  .wjs-newsTabs.nav-justified > .active > a:hover,
  .wjs-newsTabs.nav-justified > .active > a:focus {
    border-bottom-color: #fff;
  }
}
/*  微金所 新闻页面 点击导航区域的 线段 */
.wjs-newsTabs {
  position: relative;
}
.wjs-newsTabs .line {
  height: 80%;
  border: 1px dashed gray;
  position: absolute;
  top: 22px;
  left: 35px;
}
/* 新闻列表页  第三分栏的样式 */
.news {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
.news .tab-content ul {
  list-style: none;
  padding-top: 30px;
}
.news .tab-content ul li {
  padding: 10px 0;
}
.news .tab-content ul li a {
  color: gray;
}
/* 顶部的合作单位样式 */
.footer {
  text-align: center;
  background-color: #eee;
  padding-top: 20px;
}
.footer h3 {
  margin-top: 0px;
}
.footer ul {
  list-style: none;
  display: inline-block;
}
.footer ul li {
  float: left;
  font-size: 80px;
  margin: 0 20px;
}
.footer ul li a {
  color: gray;
  text-decoration: none;
}
